.Sidebar {
  width: 300px;
  background-color: #d7ffff;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid #c9ffff;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.Sidebar::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 576px) {
  .Sidebar {
    width: 90px;
  }
}
